
@media (max-width: 1195px) {
    #linkLogo{
        margin-right: 20%;
    }
}

@media (max-width: 1045px) {
    #linkLogo{
        margin-right: 15%;
    }
}

@media (max-width: 945px) {
    #linkLogo{
        margin-right: 5%;
    }
}

@media (max-width: 845px) {
    header{
        position: relative;
        width: 100%;
        border: none;
    }
    #linkLogo{
        margin-right: 18%;
    }
    header nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--Cor_Font3);
        width: 100%;
        padding: 0px;
        margin-bottom: 0px;
    }
    header nav ul li{
        text-align: end;
        padding: 20px 0px 20px 0px;
        width: 100%;
        border-top: 1px solid var(--Cor_Font4);
    }
    header nav ul li a{
        padding: 21px 20px 21px 20px;
        width: 100%;
    }
    header label{
        display: block;
    }

    input[type = checkbox]:checked ~ nav{
        display: block;
    }
}
