:root{
    --color1:#912b8b;
    --color2:#ad0d9a;
    --color3:#d47edc;
    --color4:#e2aad6;
    --font1: 'Streetscript';
    --font2: 'Crewniverse', sans-serif;
    --font3: "Poppins", sans-serif;
}

@media (max-width: 1045px) {
    #linkLogo{
        margin-right: 5%;
    }
    nav{
        width: 60%;
    }
}

@media (max-width: 945px) {
    #linkLogo{
        margin-right: 5%;
    }
    nav{
        width: 50%;
    }
}

@media (max-width: 880px) {
    /* body{
        background-size: 400%;
    } */
    header{
        position: relative;
        width: 100%;
        border: none;
        position: relative;
        background-color: #ad0d9a9a;
    }
    #linkLogo{
        margin-right: 60%;
    }
    #linkLogo img{
        width: 100px;
    }
    header{
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
    }
    nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 121px;
        height: auto;
        background-color: #ad0d9a9f;
        border-bottom: 1px solid var(--color5);
    }
    #nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 0px;
        width: auto;
        padding: 0px;
        margin: 0px;
        text-align: end;
    }
    #nav a{
        margin: 0px;
        padding: 20px 20px 20px 0px;
        width: 100%;
        text-shadow: 0px 0px 5px #000;
        color: var(--color5);
        border-bottom: 1px solid var(--color5);
    }
    #nav a:hover{
        text-decoration: none;
        background-color: #ad0d9a4d;
    }
    #language{
        display: flex;
        justify-content: end;
        text-align: end;
        width: auto;
        border-radius: 0px;
        border: none;
        background-color: transparent;
    }
    #language select{
        color: var(--color5);
        font-size: 15px;
        width: auto;
        padding: 0px;
    }
    header label{
        display: block;
        color: var(--color1);
    }

    input[type = checkbox]:checked ~ nav{
        display: block;
    }
    /* }
    .apresentation_about{
        overflow: hidden;
        height: auto;
        background-size: 50%;
        background-image: url(../assets/images/magenta\ coracao.png);
        background-size: 20%;
    }
    .apresentation_about_container{
        display: flex;
        flex-direction: column-reverse;
    }
    .apresentation_about_img img{
        margin-top: 20px;
        margin-bottom: 40px;
        width: 450px;
    }
    
    .frame{
        flex-wrap: wrap;
        overflow: auto;
    }
    .poster{
        margin: 10px;
        width: 100%;
    }
    .grid_apresentation_cards{
        grid-template-columns: 1fr;
    }
    .apresentation_questions{
        height: 150vh;
    }
    .card{
        height: auto;
    }
    .grid_apresentation_cards .questions,.answers{
        height: auto;
    }
    .network_link{
        flex-direction: column;
        overflow: hidden !important;
    }
    .backgrond_link{
        width: 90%;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-links, .footer-social, .footer-contact{
        width: 300px;
        margin: 0px;
    }
    .videos iframe{
        width: auto;
        height: auto;
    } */
}