@font-face {
    font-family: 'Gem Glyph SU v1';
    src: url('../assets/Fonts/GemGlyphSUv1regular.woff2') format('woff2'),
        url('../assets/Fonts/GemGlyphSUv1regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* raíz com variaveis */
:root{
    /* cores */
    --color1:#912b8b;
    --color2:#ad0d9a;
    --color3:#d47edc;
    --color4:#e2aad6;
    --color5:#e4bfdc;
    /* familias de fontes */
    --font1: 'Streetscript';    /* para textos de apresentação com letra cursiva */
    --font2: 'Crewniverse', sans-serif;/* para títulos de apresentação */
    --font3: "Poppins", sans-serif; /* para textos de apresentação */
    --font4: 'Gem Glyph SU v1'; /* font Gem*/
    --font5: "Orbitron", sans-serif; /* font futurista*/
}

/* scroll suave */
html{
    scroll-behavior: smooth;
}
/* estilo do scroll */
::-webkit-scrollbar {
    width: 5px; /* tamanho*/
}

::-webkit-scrollbar-track {
    background-color: var(--color1);  /* cor de fundo da scroll*/
}
        
::-webkit-scrollbar-thumb {
    background-color: var(--color3); /* cor da scroll */
}

/* corpo do html */
body{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    background: url("../assets/images/planet-colony.png") no-repeat top / auto;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    margin: 0px;
    z-index: 1000;
    transition: background-color 1s ease-in-out;
    box-shadow: 0px 2px var(--color5);
}
header.scrolled {
    background-color: var(--color2);
}
header label, input{
    display: none;
}
header label i{
    color: var(--color5);
}
#linkLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    margin: 0px;
    height: 100%;
    width: 10%;
    outline: none;
}
#linkLogo:hover{
    color: var(--color1);
    transition: 0.3s;
}
#linkLogo img{
    padding: 10px;
    width: 60%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    padding: 0px;
}
.navLinks,.navLanguage{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
}
.navLinks{
    font-size: 15px;
    width: 55%;
}
.navLinks a{
    color: #fff;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-weight: 400;
    font-family: var(--font5);
}
.navLinks a:hover{
    transition: 0.3s;
    text-decoration: overline;
    color: var(--color5);
}
.navLanguage{
    width: 10%;
    border-radius: 50px;
    border: 3px solid var(--color4);
}
.navLanguage select{
    font-family: var(--font5);
    font-size: smaller;
    font-weight: 350;
    font-size: 15px;
    text-align: center;
    /* font-family: var(--font4); */
    background-color: transparent;
    color: var(--color4);
    border: none;
    width: 100%;
    -moz-appearance: none;         /* Padrão */
    -webkit-appearance: none; /* Chrome, Safari */
    appearance: none;    /* Firefox */
    outline: none;
}
.navLanguage select option{
    border: 2px solid var(--color1);
    background-color: transparent;
}
.navLanguage select option:nth-child(3){
    font-family: var(--font4) !important;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#title_hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #912b8a6d;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    backdrop-filter: blur(2px);
    width: 30%;
    height: 90%;
    overflow: hidden;
}
#title_hero h1{
    font-size: 42px;
    padding: 10px;
    padding-bottom: 0px;
    color: #fff;
    font-family: var(--font5);
    text-shadow: 2px 5px var(--color3)
}
#title_hero a{
    color: var(--color5);
    text-shadow: 0px 2px var(--color1);
    text-decoration: none;
    font-family: var(--font5);
    font-size: 30px;
    font-weight: lighter;
    animation: glowShadow 1s ease-in-out infinite alternate;
}
@keyframes glowShadow {
    0% {
        text-shadow: 0 2px var(--color1);
    }
    100% {
        text-shadow: 0 8px 1px var(--color1);
    }
}

.diamonds{
    background-color: #912b8a6d;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    backdrop-filter: blur(2px);
    font-size: 30px;
    color: #e4bfdc00;
}

#about{
    height: 100vh;
    border: 2px solid var(--color5);
    border-left: none;
    border-right: none;
    background-color: var(--color1);
    background-image: url("../assets/images/background-magenta-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns:  1fr 1fr;
}
.column_about{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about_text{
    font-size: auto;
    padding: 10px;
    font-family: var(--font5);
    color: var(--color2);
    border-radius: 20px;
    background-color: var(--color5);
    border: 3px solid var(--color3);
    width: 90%;
}
#about_text h1,p{
    padding: 10px;
    padding-top: 0px;
    margin: 0px;
}
#about_text h1{
    text-align: center;
}
#about_img{
    text-align: center;
    font-size: 20px;
}
#about_img a{
    font-family: var(--font5);
    color: var(--color4);
}
#about_img a:hover{
    transition: 0.3s;
    color: var(--color5);
}
#about_img img{
    border-radius: 50%;
    border: 5px solid var(--color5);
}

.history_AU{
    height: auto;
    background-color: var(--color2);
    text-align: center;
    border-bottom: 3px solid var(--color3);
}
.history_AU h1{
    padding: 20px;
    margin: 0px;
    border-bottom:  3px solid var(--color3);
    font-family: var(--font5);
    background-color: var(--color5);
    color: var(--color2);
}
.grid_history{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid_history div{
    height: auto;
    width: auto;
}
#history_img img{
    width: 100%;
    height: 100%;
}
#history_text{
    font-size: 20px;
    font-family: var(--font5);
    color: var(--color5);
    background-color: var(--color2);
    padding: 10px;
    text-align: left;
}