/* raíz com variaveis */
@font-face {
    font-family: 'Gem Glyph SU v1';
    src: url('../assets/Fonts/GemGlyphSUv1regular.woff2') format('woff2'),
        url('../assets/Fonts/GemGlyphSUv1regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    /* cores */
    --color1:#912b8b;
    --color2:#ad0d9a;
    --color3:#d47edc;
    --color4:#e2aad6;
    --color5:#e4bfdc;
    /* familias de fontes */
    --font1: 'Streetscript';    /* para textos de apresentação com letra cursiva */
    --font2: 'Crewniverse', sans-serif;/* para títulos de apresentação */
    --font3: "Poppins", sans-serif; /* para textos de apresentação */
    --font4: 'Gem Glyph SU v1';
}

/* scroll suave */
html{
    scroll-behavior: smooth;
}
/* estilo do scroll */
::-webkit-scrollbar {
    width: 5px; /* tamanho*/
}

::-webkit-scrollbar-track {
    background-color: var(--color1);  /* cor de fundo da scroll*/
}
        
::-webkit-scrollbar-thumb {
    background-color: var(--color3); /* cor da scroll */
}

/* corpo do html */
body{
    margin: 0px;
    padding: 0px;
    font-family: var(--font2);
    font-weight: bold;
    background: url("../assets/images/background-magenta-2.png") no-repeat top / auto;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    margin: 0px;
    box-shadow: 0px 2px var(--color4);
    transition: background-color 1s ease-in-out;
}
header.scrolled {
    background-color: #ad0d9a9a;
}
header label, input{
    display: none;
}
header label i{
    color: var(--color5);
}
#linkLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    margin: 0px;
    height: 100%;
    width: 10%;
    outline: none;
}
#linkLogo:hover{
    color: var(--color1);
    transition: 0.3s;
}
#linkLogo img{
    padding: 10px;
    width: 60%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    padding: 0px;
}
#navLinks,#navLanguage{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
}
#navLinks{
    font-size: 15px;
    width: 55%;
}
#navLinks a{
    color: var(--color5);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-weight: 400;
    font-family: 'Gem Glyph SU v1', sans-serif;
}
#navLinks a:hover{
    transition: 0.3s;
    text-decoration: overline;
    color: var(--color5);
}
#navLanguage{
    width: 10%;
    border-radius: 50px;
    border: 3px solid var(--color4);
}
#navLanguage select{
    font-size: smaller;
    font-weight: 350;
    font-size: 14px;
    text-align: center;
    font-family: var(--font3);
    background-color: transparent;
    color: var(--color5);
    border: none;
    width: 100%;
    -moz-appearance: none;         /* Padrão */
    -webkit-appearance: none; /* Chrome, Safari */
    appearance: none;    /* Firefox */
    outline: none;
}
#navLanguage select option{
    border: 2px solid var(--color1);
    background-color: transparent;
}
#navLanguage select option:nth-child(3){
    font-family: var(--font4);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.align_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
}
.ABOUT{
    background: var(--color1)  url(../assets/images/Color\ Planet\ 1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70%;
    height: 100vh;
}
